USE [master]
GO
/****** Объект:  Database [smartparking_management]    Дата создания скрипта: 9/15/2026 9:42:13 AM ******/ 
CREATE DATABASE [smartparking_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'smartparking_management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\smartparking_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'smartparking_management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\smartparking_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [smartparking_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [smartparking_management]
GO
/****** Объект:  User [staff_demo]    Дата создания скрипта: 9/15/2026 9:42:13 AM ******/ 
CREATE USER [staff_demo] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Объект:  User [admin_demo]    Дата создания скрипта: 9/15/2026 9:42:13 AM ******/ 
CREATE USER [admin_demo] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Объект:  DatabaseRole [parking_staff]    Дата создания скрипта: 9/15/2026 9:42:13 AM ******/ 
CREATE ROLE [parking_staff]
GO
/****** Объект:  DatabaseRole [parking_admin]    Дата создания скрипта: 9/15/2026 9:42:13 AM ******/ 
CREATE ROLE [parking_admin]
GO
ALTER ROLE [parking_staff] ADD MEMBER [staff_demo]
GO
ALTER ROLE [parking_admin] ADD MEMBER [admin_demo]
GO
/****** Объект:  Table [dbo].[ParkingLot]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingLot](
	[lot_id] [int] IDENTITY(1,1) NOT NULL,
	[lot_name] [varchar](100) NOT NULL,
	[address] [varchar](150) NOT NULL,
	[total_spaces] [int] NOT NULL,
	[provider_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[ParkingSlot]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSlot](
	[slot_id] [int] IDENTITY(1,1) NOT NULL,
	[slot_number] [varchar](10) NOT NULL,
	[floor_level] [int] NOT NULL,
	[slot_type] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[lot_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  View [dbo].[vw_available_slots]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* PART 6 — VIEWS */

CREATE VIEW [dbo].[vw_available_slots] AS
SELECT ps.slot_id, ps.slot_number, ps.slot_type, ps.status, pl.lot_name
FROM ParkingSlot ps
JOIN ParkingLot pl ON ps.lot_id = pl.lot_id
WHERE ps.status = 'available';
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Vehicle]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[vehicle_id] [int] IDENTITY(1,1) NOT NULL,
	[plate_number] [varchar](20) NOT NULL,
	[model] [varchar](50) NOT NULL,
	[color] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Reservation]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[slot_id] [int] NOT NULL,
	[assignment_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  View [dbo].[vw_reservation_details]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_reservation_details] AS
SELECT
    r.reservation_id,
    u.full_name,
    v.plate_number,
    ps.slot_number,
    r.start_time,
    r.end_time,
    r.status
FROM Reservation r
JOIN Users u ON r.user_id = u.user_id
JOIN Vehicle v ON r.vehicle_id = v.vehicle_id
JOIN ParkingSlot ps ON r.slot_id = ps.slot_id;
GO
/****** Объект:  Table [dbo].[Payment]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_date] [datetime] NOT NULL,
	[payment_method] [varchar](30) NOT NULL,
	[payment_status] [varchar](20) NOT NULL,
	[reservation_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  View [dbo].[vw_payment_summary]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_payment_summary] AS
SELECT
    p.payment_id,
    p.amount,
    p.payment_method,
    p.payment_status,
    r.reservation_id,
    u.full_name
FROM Payment p
JOIN Reservation r ON p.reservation_id = r.reservation_id
JOIN Users u ON r.user_id = u.user_id;
GO
/****** Объект:  Table [dbo].[ParkingSession]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSession](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[entry_time] [datetime] NOT NULL,
	[exit_time] [datetime] NULL,
	[duration] [int] NULL,
	[total_fee] [decimal](10, 2) NULL,
	[slot_id] [int] NOT NULL,
	[assignment_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  View [dbo].[vw_active_sessions]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_active_sessions] AS
SELECT
    session_id,
    vehicle_id,
    slot_id,
    entry_time,
    exit_time,
    duration,
    total_fee
FROM ParkingSession
WHERE exit_time IS NOT NULL;
GO
/****** Объект:  Table [dbo].[VehicleAssignment]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleAssignment](
	[assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[assigned_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ParkingLot] ON 

INSERT [dbo].[ParkingLot] ([lot_id], [lot_name], [address], [total_spaces], [provider_id]) VALUES (1, N'Parking Lot 1', N'District 1, Yerevan', 51, 1)
INSERT [dbo].[ParkingLot] ([lot_id], [lot_name], [address], [total_spaces], [provider_id]) VALUES (2, N'Parking Lot 2', N'District 2, Yerevan', 52, 1)
INSERT [dbo].[ParkingLot] ([lot_id], [lot_name], [address], [total_spaces], [provider_id]) VALUES (3, N'Parking Lot 3', N'District 3, Yerevan', 53, 1)
SET IDENTITY_INSERT [dbo].[ParkingLot] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingSession] ON 

INSERT [dbo].[ParkingSession] ([session_id], [entry_time], [exit_time], [duration], [total_fee], [slot_id], [assignment_id]) VALUES (1, CAST(N'2026-03-02T09:00:00.000' AS DateTime), CAST(N'2026-03-02T13:00:00.000' AS DateTime), 240, CAST(1520.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[ParkingSession] ([session_id], [entry_time], [exit_time], [duration], [total_fee], [slot_id], [assignment_id]) VALUES (2, CAST(N'2026-03-03T09:00:00.000' AS DateTime), CAST(N'2026-03-03T14:00:00.000' AS DateTime), 300, CAST(1540.00 AS Decimal(10, 2)), 2, 2)
INSERT [dbo].[ParkingSession] ([session_id], [entry_time], [exit_time], [duration], [total_fee], [slot_id], [assignment_id]) VALUES (3, CAST(N'2026-03-04T09:00:00.000' AS DateTime), CAST(N'2026-03-04T12:00:00.000' AS DateTime), 180, CAST(1560.00 AS Decimal(10, 2)), 3, 3)
SET IDENTITY_INSERT [dbo].[ParkingSession] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingSlot] ON 

INSERT [dbo].[ParkingSlot] ([slot_id], [slot_number], [floor_level], [slot_type], [status], [lot_id]) VALUES (1, N'S1', 1, N'standard', N'reserved', 1)
INSERT [dbo].[ParkingSlot] ([slot_id], [slot_number], [floor_level], [slot_type], [status], [lot_id]) VALUES (2, N'S2', 1, N'electric', N'reserved', 1)
INSERT [dbo].[ParkingSlot] ([slot_id], [slot_number], [floor_level], [slot_type], [status], [lot_id]) VALUES (3, N'S3', 2, N'vip', N'reserved', 1)
GO
SET IDENTITY_INSERT [dbo].[ParkingSlot] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [amount], [payment_date], [payment_method], [payment_status], [reservation_id], [created_at]) VALUES (1, CAST(1050.00 AS Decimal(10, 2)), CAST(N'2026-03-02T10:00:00.000' AS DateTime), N'card', N'paid', 1, CAST(N'2026-07-09T18:50:08.123' AS DateTime))
INSERT [dbo].[Payment] ([payment_id], [amount], [payment_date], [payment_method], [payment_status], [reservation_id], [created_at]) VALUES (2, CAST(1100.00 AS Decimal(10, 2)), CAST(N'2026-03-03T10:00:00.000' AS DateTime), N'online', N'paid', 2, CAST(N'2026-07-09T18:50:08.123' AS DateTime))
INSERT [dbo].[Payment] ([payment_id], [amount], [payment_date], [payment_method], [payment_status], [reservation_id], [created_at]) VALUES (3, CAST(1150.00 AS Decimal(10, 2)), CAST(N'2026-03-04T10:00:00.000' AS DateTime), N'cash', N'paid', 3, CAST(N'2026-07-09T18:50:08.123' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([reservation_id], [start_time], [end_time], [status], [slot_id], [assignment_id]) VALUES (1, CAST(N'2026-03-02T08:00:00.000' AS DateTime), CAST(N'2026-03-02T10:00:00.000' AS DateTime), N'confirmed', 1, 1)
INSERT [dbo].[Reservation] ([reservation_id], [start_time], [end_time], [status], [slot_id], [assignment_id]) VALUES (2, CAST(N'2026-03-03T08:00:00.000' AS DateTime), CAST(N'2026-03-03T10:00:00.000' AS DateTime), N'confirmed', 2, 2)
INSERT [dbo].[Reservation] ([reservation_id], [start_time], [end_time], [status], [slot_id], [assignment_id]) VALUES (3, CAST(N'2026-03-04T08:00:00.000' AS DateTime), CAST(N'2026-03-04T10:00:00.000' AS DateTime), N'confirmed', 3, 3)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [full_name], [email], [phone], [password_hash], [role], [created_at]) VALUES (1, N'User 1', N'user1@mail.com', N'099000001', N'hashed_pass_1', N'provider', CAST(N'2026-07-10T02:01:14.173' AS DateTime))
INSERT [dbo].[Users] ([user_id], [full_name], [email], [phone], [password_hash], [role], [created_at]) VALUES (2, N'User 2', N'user2@mail.com', N'099000002', N'hashed_pass_2', N'admin', CAST(N'2026-07-10T02:01:14.173' AS DateTime))
INSERT [dbo].[Users] ([user_id], [full_name], [email], [phone], [password_hash], [role], [created_at]) VALUES (3, N'User 3', N'user3@mail.com', N'099000003', N'hashed_pass_3', N'admin', CAST(N'2026-07-10T02:01:14.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([vehicle_id], [plate_number], [model], [color]) VALUES (1, N'AA001AM', N'BMW', N'White')
INSERT [dbo].[Vehicle] ([vehicle_id], [plate_number], [model], [color]) VALUES (2, N'AA002AM', N'Mercedes', N'Silver')
INSERT [dbo].[Vehicle] ([vehicle_id], [plate_number], [model], [color]) VALUES (3, N'AA003AM', N'Kia', N'Blue')
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleAssignment] ON 

INSERT [dbo].[VehicleAssignment] ([assignment_id], [user_id], [vehicle_id], [assigned_at]) VALUES (1, 1, 1, CAST(N'2026-07-06T00:35:55.583' AS DateTime))
INSERT [dbo].[VehicleAssignment] ([assignment_id], [user_id], [vehicle_id], [assigned_at]) VALUES (2, 2, 2, CAST(N'2026-07-06T00:35:55.583' AS DateTime))
INSERT [dbo].[VehicleAssignment] ([assignment_id], [user_id], [vehicle_id], [assigned_at]) VALUES (3, 3, 3, CAST(N'2026-07-06T00:35:55.583' AS DateTime))
SET IDENTITY_INSERT [dbo].[VehicleAssignment] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__ParkingS__861FBD1FC68EA0FC]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
ALTER TABLE [dbo].[ParkingSlot] ADD UNIQUE NONCLUSTERED 
(
	[lot_id] ASC,
	[slot_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [idx_parkingslot_status]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
CREATE NONCLUSTERED INDEX [idx_parkingslot_status] ON [dbo].[ParkingSlot]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [UQ__Payment__31384C28A22FF0F3]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [idx_payment_status]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
CREATE NONCLUSTERED INDEX [idx_payment_status] ON [dbo].[Payment]
(
	[payment_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [idx_reservation_start_time]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
CREATE NONCLUSTERED INDEX [idx_reservation_start_time] ON [dbo].[Reservation]
(
	[start_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Users__AB6E6164F75354FA]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Vehicle__87EF9F59C493287E]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
ALTER TABLE [dbo].[Vehicle] ADD UNIQUE NONCLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [idx_vehicle_plate_number]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
CREATE NONCLUSTERED INDEX [idx_vehicle_plate_number] ON [dbo].[Vehicle]
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Объект:  Index [UQ_VehicleAssignment_User_Vehicle]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
ALTER TABLE [dbo].[VehicleAssignment] ADD  CONSTRAINT [UQ_VehicleAssignment_User_Vehicle] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  DEFAULT ((0)) FOR [total_fee]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[VehicleAssignment] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[ParkingLot]  WITH CHECK ADD  CONSTRAINT [FK_ParkingLot_Provider] FOREIGN KEY([provider_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ParkingLot] CHECK CONSTRAINT [FK_ParkingLot_Provider]
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD FOREIGN KEY([slot_id])
REFERENCES [dbo].[ParkingSlot] ([slot_id])
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD  CONSTRAINT [FK_ParkingSession_VehicleAssignment] FOREIGN KEY([assignment_id])
REFERENCES [dbo].[VehicleAssignment] ([assignment_id])
GO
ALTER TABLE [dbo].[ParkingSession] CHECK CONSTRAINT [FK_ParkingSession_VehicleAssignment]
GO
ALTER TABLE [dbo].[ParkingSlot]  WITH CHECK ADD FOREIGN KEY([lot_id])
REFERENCES [dbo].[ParkingLot] ([lot_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([reservation_id])
REFERENCES [dbo].[Reservation] ([reservation_id])
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([slot_id])
REFERENCES [dbo].[ParkingSlot] ([slot_id])
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_VehicleAssignment] FOREIGN KEY([assignment_id])
REFERENCES [dbo].[VehicleAssignment] ([assignment_id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_VehicleAssignment]
GO
ALTER TABLE [dbo].[VehicleAssignment]  WITH CHECK ADD  CONSTRAINT [FK_VehicleAssignment_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[VehicleAssignment] CHECK CONSTRAINT [FK_VehicleAssignment_Users]
GO
ALTER TABLE [dbo].[VehicleAssignment]  WITH CHECK ADD  CONSTRAINT [FK_VehicleAssignment_Vehicle] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[VehicleAssignment] CHECK CONSTRAINT [FK_VehicleAssignment_Vehicle]
GO
ALTER TABLE [dbo].[ParkingLot]  WITH CHECK ADD CHECK  (([total_spaces]>(0)))
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD CHECK  (([total_fee]>=(0)))
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD CHECK  (([exit_time] IS NULL OR [exit_time]>[entry_time]))
GO
ALTER TABLE [dbo].[ParkingSlot]  WITH CHECK ADD CHECK  (([slot_type]='vip' OR [slot_type]='electric' OR [slot_type]='disabled' OR [slot_type]='standard'))
GO
ALTER TABLE [dbo].[ParkingSlot]  WITH CHECK ADD CHECK  (([status]='out_of_service' OR [status]='occupied' OR [status]='reserved' OR [status]='available'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_method]='online' OR [payment_method]='card' OR [payment_method]='cash'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_status]='failed' OR [payment_status]='pending' OR [payment_status]='paid'))
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD CHECK  (([status]='completed' OR [status]='cancelled' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([role]='provider' OR [role]='driver' OR [role]='admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Объект:  StoredProcedure [dbo].[sp_cancel_reservation]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_cancel_reservation]
    @reservation_id INT
AS
BEGIN
    UPDATE Reservation
    SET status = 'cancelled'
    WHERE reservation_id = @reservation_id;
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_create_reservation]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =====================================================
   PART 10 — STORED PROCEDURES
   ===================================================== */

CREATE PROCEDURE [dbo].[sp_create_reservation]
    @user_id INT,
    @vehicle_id INT,
    @slot_id INT,
    @start_time DATETIME,
    @end_time DATETIME
AS
BEGIN
    INSERT INTO Reservation (
        reservation_date,
        start_time,
        end_time,
        status,
        user_id,
        vehicle_id,
        slot_id
    )
    VALUES (
        CAST(GETDATE() AS DATE),
        @start_time,
        @end_time,
        'pending',
        @user_id,
        @vehicle_id,
        @slot_id
    );
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_total_paid_revenue]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_total_paid_revenue]
AS
BEGIN
    SELECT SUM(amount) AS total_paid_revenue
    FROM Payment
    WHERE payment_status = 'paid';
END;
GO
/****** Объект:  StoredProcedure [dbo].[sp_user_reservations]    Дата создания скрипта: 9/15/2026 9:42:14 AM ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_user_reservations]
    @user_id INT
AS
BEGIN
    SELECT *
    FROM Reservation
    WHERE user_id = @user_id;
END;
GO
USE [master]
GO
